// #BOX-MODEL
//
// HTML elements are represented as rectangular boxes.
// The CSS Box Model describes how to draw these boxes.

// The default box model is Content Box.
// Content Box excludes padding, border and margin in width and height calculations.

.box--schrodinger {
  box-sizing: content-box;
  width: 300px;
  border: 10px solid black;
}

// The final width of .box--schrodinger is 320px.

// Best Practice recommends using Border Box when writing CSS.
// Border Box includes padding, border and margin in width and height calculations.

.box--heisenberg {
  box-sizing: border-box;
  width: 300px;
  border: 10px solid black;
}

// The final width of .box--heisenberg is 300px.

