// #DISPLAY VS VISIBILITY
//
// Defines how elements are shown on a webpage.
// These properties affect page layout and content flow.

// display:none
// Hides an element and removes it from page flow, as if the element never existed.

.box--copperfield {
  display: none;
  width: 300px;
}

// The final width of .box--copperfield is 0.

// visibility:hidden
// Hide an element without removing it from page flow.

.box--burton {
  visibility: hidden;
  width: 300px;
}

// The final width of .box--burton is 300px.
