/* 
 * FLEX BOX
 * 
 * Flexbox is a layout mode used to predictably arrange elements on a web page 
 * regardless of screen size or device.
 * 
 * Flexbox includes an entire suite of properties for setting size, location,
 * direction, and order of elements on a web page. 
 */

.parent {
  display: flex;
}

.child {
  flex-direction: column;
  align-items: stretch;
}
